@use '../../modules/colours'

div.chessSquare
  position: relative
  &.light
    background-color: colours.$lightsquare
    span.sqLabel
      color: colours.$darksquare
  &.dark
    background-color: colours.$darksquare
    span.sqLabel
      color: colours.$lightsquare
  span.sqLabel
    position: absolute
    font-weight: 800
    display: inline
    &.bottom
      bottom: .5rem
      right: .5rem
    &.left
      top: .5rem
      left: .5rem