@use '../../modules/colours'

div.chessSquare
  position: relative
  user-select: none
  &.light
    background-color: colours.$lightsquare
    span.sqLabel
      color: colours.$darksquare
  &.dark
    background-color: colours.$darksquare
    span.sqLabel
      color: colours.$lightsquare
  span.sqLabel
    position: absolute
    font-weight: 800
    display: inline
    &.bottom
      bottom: .5rem
      right: .5rem
    &.left
      top: .5rem
      left: .5rem

  div.highlight
    position: absolute
    height: 100%
    width: 100%
    background-color: colours.$blue
    opacity: 0.5
  &.border
    border: 5px solid colours.$purple

div.chessSquare.moveCircle
  background-color: transparent
  pointer-events: none
  &::after
    content: ''
    display: inline-block
    width: 25%
    height: 25%
    border-radius: 100%
    background-color: black
    opacity: 0.35
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &.fadedMoveCircle
      opacity: 0.2