@use "../../modules/colours"

div#PlayPage
    h1
        color: colours.$lightsquare
        font-size: 3em
        padding: .25em .5em
    div.playPageInner
        padding: 0 1.5em
        h3
            color: colours.$lightsquare
            font-size: 1.5em
        div.centred
            display: flex
            justify-content: center
            align-items: center
            margin: 0.5em 0 1.5em

p.toggleExistingGames
    padding: 0 1.5em
    color: colours.$offLightBlue

div.existingGames
    display: flex
    flex-flow: row wrap
    padding: 0 1.5em
    a
        &:active, &:hover
            text-decoration: underline
            text-decoration-color: colours.$offLightBlue
        &:visited, &:link
            text-decoration-color: colours.$offLightBlue
            text-decoration: none
            color: colours.$offLightBlue
        div.existingGame
            text-align: center
            color: colours.$offLightBlue
            background-color: colours.$mediumBlue
            margin: 0 0.25rem
            padding: 0.5rem
            border-radius: 0.25rem
            p
                margin: 0.25rem
                text-decoration-color: colours.$offLightBlue
                text-decoration: none

div.selectionItem
    display: inline-block
    background-color: colours.$darksquare
    padding: .75em
    border-radius: .25em
    cursor: pointer
    margin: 0 .5em
    color: colours.$lightsquare
    transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out
    user-select: none
    &:hover
        background-color: colours.$lightSquareBrighter
    &.selected
        background-color: colours.$lightSquareBrighter
        &.disabled
            background-color: colours.$darksquare
    &.disabled
        text-decoration: line-through
        opacity: 0.5
        background-color: colours.$darksquare
        cursor: not-allowed