@use "../../modules/colours"

div#ArmiesPage

  h1.pageHeading
    color: colours.$lightsquare
    font-size: 3em
    padding-left: .5em
  p.pageSubtitle
    color: colours.$offwhite
    padding-left: 1.5em
    font-size: 1em

  div.armiesButtonRow
    padding: 0 1.5em
    font-size: 1em

  div.armiesListing
    font-size: 1em
    padding: 0 1.5em
    display: flex
    flex-flow: row wrap

div.armyPreview

  display: inline-block
  background-color: colours.$lightBlue
  max-width: 20em
  min-width: 10em
  position: relative
  padding: 0.5em
  margin: 1em
  border-radius: 0.5em
  cursor: pointer
  transform: translateY(0)
  transition: transform 0.25s ease-out
  &:hover
    transform: translateY(-0.5em)
    div.delete
      opacity: 1
  div.delete
    opacity: 0
    transition: opacity 0.25s ease, color 0.25s ease-in-out
    position: absolute
    top: .5rem
    right: .5rem
    color: colours.$offwhite
    &:hover
      color: colours.$offLightBlue

  h3.ArmyName
    color: colours.$lightsquare
  div.pieces
    > p
      color: colours.$offLightBlue