body {
  background-color: #161823;
}

div.chessBoardColumn.gameOver div.board {
  pointer-events: none;
}

div#ChessBoardWrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
div#ChessBoardWrapper div#ChessBoardOuter {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 80vh;
  max-height: 80vh;
}
div#ChessBoardWrapper div#ChessBoardOuter div.board {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
}
div#ChessBoardWrapper div#ChessBoardOuter div.board#ChessBoardPieces {
  pointer-events: none;
}
div#ChessBoardWrapper div#ChessBoardOuter div.board#ChessBoardMoveCircles {
  pointer-events: none;
}

div#PieceInfoBubble {
  background-color: #262836;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 20%;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: pieceBubble-entrance 0.25s ease-out forwards;
}
div#PieceInfoBubble h3#PieceInfoPieceTitle {
  color: #F8DC97;
  padding: 0;
  margin: 0.25rem 0;
}
div#PieceInfoBubble .imgRow {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
div#PieceInfoBubble .imgRow img {
  height: 4em;
}
div#PieceInfoBubble div.pieceDescBlock {
  color: #464B66;
  padding-top: 0.2em;
}
div#PieceInfoBubble div.pieceDescBlock.tags {
  padding-top: 1em;
}
div#PieceInfoBubble div.pieceDescBlock > .tag {
  font-style: italic;
}
div#PieceInfoBubble div.pieceDescBlock.effects {
  color: #9148d6;
  font-style: italic;
}
div#PieceInfoBubble div.exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #E2E2E2;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
}
div#PieceInfoBubble div.exit:hover {
  color: #464B66;
  transform-origin: center;
}

@keyframes chaosValAnim {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
div#ChaosValue {
  color: #464B66;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 100%;
  margin-right: 1rem;
}
div#ChaosValue.animated .val {
  animation: chaosValAnim forwards 1s ease-out;
}
div#ChaosValue .val {
  font-size: 2rem;
  font-weight: bold;
}

div.deck {
  position: absolute;
  left: 100%;
  margin-left: 1rem;
  height: 7em;
  width: 5em;
  background-color: #262836;
  border: 1px solid #161823;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
div.deck:hover {
  background-color: #2C2F40;
}
div.deck#WhiteDeck {
  bottom: 1rem;
}
div.deck#BlackDeck {
  bottom: calc(1rem + 8em);
}
div.deck p {
  color: #464B66;
  text-align: center;
  width: 100%;
  margin: 0.75rem 0 0;
}

div#DeckOverlay {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  border-radius: 1rem;
  background-color: #262836;
  transition: opacity 0.25s ease, transform 0.25s ease-out;
  padding: 0.5rem 0.5rem 1rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-items: flex-start;
}
div#DeckOverlay div.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #464B66;
  cursor: pointer;
  transition: color 0.25s ease;
}
div#DeckOverlay div.close:hover {
  color: #E2E2E2;
}
div#DeckOverlay.hidden {
  opacity: 0;
  pointer-events: none;
}
div#DeckOverlay.shown {
  opacity: 1;
}
div#DeckOverlay div.deckOverlayCard {
  margin: 0.5rem;
  background-color: #2C2F40;
  border-radius: 0.25rem;
  height: 10.5em;
  width: 7.5em;
  border: 1px solid #161823;
  padding: 0 0.5em;
  position: relative;
}
div#DeckOverlay div.deckOverlayCard p {
  color: #F8DC97;
  font-size: 0.75em;
  padding: 0;
  margin: 0 0 0.5rem 0;
}
div#DeckOverlay div.deckOverlayCard p.title {
  font-size: 1em;
  text-align: center;
}
div#DeckOverlay div.deckOverlayCard p.expac {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #161823;
}
div#DeckOverlay div.deckOverlayCard p.quantity {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  margin-top: 0.25em;
  color: #464B66;
}
div#DeckOverlay div.deckOverlayCard div.topRow {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0.25em;
}
div#DeckOverlay div.deckOverlayCard div.topRow p.speed {
  margin-left: auto;
}

div.allowRotationCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: 2rem;
  background-color: #262836;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
div.allowRotationCheckbox label {
  color: #464B66;
  margin-left: 0.5rem;
  position: relative;
}
div.allowRotationCheckbox input[type=checkbox] {
  appearance: none;
  position: relative;
}
div.allowRotationCheckbox input[type=checkbox]::after {
  content: "";
  background-color: #2C2F40;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  cursor: pointer;
  border: 0.2rem solid #161823;
}
div.allowRotationCheckbox input[type=checkbox]:checked::after {
  background-color: #464B66;
}

@keyframes pieceBubble-entrance {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=ChessBoard.css.map */
