Body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Roboto', sans-serif
}

div.app {
  width: 100vw;
  min-height: 100vh;
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
}

div.chessBoardContainer {
  grid-column: 2/3;
}