Body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

div.app {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
}

div.boardLeftColumn, div.boardRightColumn {
  display: flex;
}
div.chessBoardColumn {
  grid-column: 2/3;
  width: 100%;
  max-width: 80vh;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
}